input[type="text"] {
width: 150px;
display: block;
margin-bottom: 10px;
background-color:white;
border:blue solid 2px;}

select{
width: 150px;
display: block;
margin-bottom: 10px;
color:black;
background-color:white;
border:blue solid 2px;
}
div:hover{
background-color:yellow;
}
button{
    background-color:blue; 
    color:white;
   
}
h4{
    font-style:normal;
    font-size: 40px;
    color:purple;
    text-align: left;
}
label{
    color:black;
    font-weight: bold;
}